
# Ignore environment variables
.env
# Node modules
node_modules/
# Build output
build/
dist/
# System files
.DS_Store

/package.json
/package-lock.json
backend/src/firebase/serviceAccountKey.json
backend/src/firebase/serviceAccountKey.json
