@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');


.favorite-page {
    padding: 2rem;
    font-family: "Chivo";
    min-height: 100vh;
    background-color: var(--background-color);
    border-radius: 20px;
  }


/*     
  .favorites-card {
    background-color: #D0C9EB;
    font-family: "Poppins", sans-serif;
    padding: 2rem;
    border-radius: 20px;
    max-width: 750px;
    width: 100%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border: 1.5px solid #3d2074

  } */
  
.empty-text {
    text-align: center;
    font-size: 1rem;
    color: var(--text-hint);
    margin-top: 2rem;
  }


  .favorite-header {
    display: flex;
    align-items: center;
    gap: 1rem; /* Controls spacing between title and buttons */
    margin-bottom: 2rem;
    flex-wrap: wrap; /* optional, for smaller screens */
  }
  
  .favorite-title {
    font-size: 1.8rem;
    color: var(--text-color);
    margin: 0;
    font-family: Chivo;
  }
  
  .dropdown-wrapper {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border-radius: 999px;
    background-color: white;
    color: var(--purple-700);
    border: 1.5px solid var(--pill-border);
    font-weight: 600;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .dropdown-arrow {
    width: 9px;
    height: 5px;
    background: var(--text-color);
  }
  
  
  .favorite-page dropdown-menu {
    position: absolute;
    top: 120%;
    right: 0;
    background: var(--pill-color);
    padding: 0.8rem;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 160px;
  }
  
  .favorite-page dropdown-menu label {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    color: var(--text-color);
  }
  
  
  .favorite-title {
    font-size: 2rem;
    font-weight:bolder;
    color: var(--text-color);
    margin: 0;
    font-family: "Chivo";

  }
  
  .tab-row {
    display: flex;
    gap: 0.3rem;
  }
  
  .tab-button {
    padding: 0.3rem 1.5rem;
    border: 2px solid var(--pill-border);
    border-radius: 20px;
    background-color: var(--pill-color);
    color: var(--purple-700);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  .tab-button.active {
    background-color: var(--button-color);
    color: var(--button-text);
  }
  
  .favorites-grid {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content:left;
    /* justify-content: center; */
  }
  
  .favorite-page input[type="checkbox"] {
    accent-color: var(--accent-color);
  }
  
  
  
  
