@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Poppins:wght@400;700&display=swap');

.app-layout {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}


.login-container {
    display: flex;
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    background: var(--landing-background-image) no-repeat center center;
    background-size: cover;
}

.login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    font-family: 'Cherry Bomb One', cursive;
}

.login-left h1 {
    font-size: 5rem;
    color: var(--text-color);
    margin-bottom: 0.5rem;
}

.login-left p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
    line-height: 2.5rem;
    text-transform: uppercase;
}

.login-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card {
    background: var(--background-color);
    padding: 4rem 3rem;
    border-radius: 16px;
    border: 2px solid var(--border);
    width: 100%;
    max-width: 480px;
    box-shadow: 6px 6px 18px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    width: 100%;
    padding: 0.8rem;
    margin-bottom: 1rem;
    border-radius: 10px;
		background-color: var(--input-background);
    border: 2px solid var(--input-border);
    font-size: 1rem;
    outline: none;
}

form input::placeholder {
	color: var(--text-hint);
}

form input,
form button {
    box-sizing: border-box;
    width: 100%;
}

.forgot-password {
    text-align: left;
    font-size: 0.8rem;
    margin-bottom: 1.5rem;
}

.forgot-password p {
    color: var(--text-color);
    font-weight: 500;
    cursor: pointer;
    margin: 0;
}

.forgot-password p:hover {
    text-decoration: underline;
}


.forgot-link {
    color: var(--text-color);
    text-decoration: none;
}

.signin-button {
    padding: 0.9rem 1rem;
    background-color: var(--text-color);
    color: var(--background-color);
    border: none;
    border-radius: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box; 
}


.signin-button:hover {
    background-color: var(--text-light);
    transform: scale(1.02);
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 2rem 0;
    position: relative;
    background-color: transparent;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid var(--text-hint);
}

.divider p {
    margin: 0 1rem;
    font-size: 0.9rem;
		color: var(--text-hint);
}


.social-login {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.social-login button {
    background: rgb(251, 250, 255);
    border: 1px solid var(--text-color);
    border-radius: 8px;
    padding: 0.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.social-login img {
    width: 32px;
    height: 32px;
}

.signup-prompt {
    text-align: center;
    font-size: 0.9rem;
}

.signup-prompt a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
}

.signup-prompt a:hover {
    text-decoration: underline;
}
