@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');


/* --------------------------- Usable with any -----------------------------------*/
.voting-page {
		height: 100vh;
    padding: 2rem;
    background: var(--background-color);
    font-family: "Poppins";
    border-radius: 10px;
		display: flex;
		overflow-y: scroll;
		flex-direction: column;
		align-items: center;
	}
    
  .voting-title-container {
    display: flex;
    justify-content: center;
    align-items: center; /* Optional if you want vertical centering too */
  }
  
  
  .voting-title {
    background-color: var(--foreground-color);
    text-align: center;
    padding: 0.6rem 5rem ;
    border-radius: 12px;
    font-size: 2rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    font-family: "Cherry Bomb One";
    letter-spacing: 2px;
    color:var(--text-color);
    display: inline-block;

  }
  
	.voting-timer {
		display: flex;
		border-style: solid;	
		border-radius: 10px;
		border-width: 2px;
		border-color: #3d2b6d; 
		background-color: #3d2b6d; 
    color: white;
		font-family: "Cherry Bomb One";
		font-size: 2.5rem;
		font-weight: 500;
		box-shadow: inset 0px 0px 0px 2px #DDD8EF;
		min-height: 100px;
		min-width: 100px;
		justify-content: center;
		align-items: center;
		margin-bottom: 1rem;
	}

	.voting-timer.animate {
		animation: blink 1s ease-out;
	} 

	@keyframes blink {
		0% { background-color: #FF5555; border-color: #FF5555 }
		100% { background-color: #3d2b6d; border-color: #3d2b6d }
	}
  
  .round-title {
    margin-top: 2rem;
    color: var(--purple-700);
    margin-left: 170px;
    margin-bottom: 0.5rem;
  }
  
  .voting-section {
    display: flex;
		flex-direction: row;
		height: 100%;
		max-height: 600px;
		max-width: 1200px;
		width: 100%;
		overflow-y: scroll;
    /* margin-top: 0rem; */
  }
  
  .party-column {
    background: var(--foreground-color);
    padding: 1rem;
    border-radius: 10px;
    color: var(--purple-700);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
		text-align: center;
		width: 120px;
		min-width: 120px; /* need both for whatever reason */

		/* remove scrollbar from party column*/
		scrollbar-width: none;
  }
  .party-column::-webkit-scrollbar {
 			width: 0;
		 height: 0;	
	}

  .party-avatar {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .party-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
  	}

  
	/* -------------------------- JOIN LAYOUT ---------------------------------- */
 
	.Join-section {
    display: flex;
		flex-direction: row;
		max-height: 600px;
		height: 100%;
		max-width: 1200px;
		width: 100%;
		margin-bottom: 1rem;
    /* margin-top: 0rem; */
  }
  .Join-party-section {

		background: var(--foreground-color);
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    color: var(--purple-700);
		width: 50%;
		height: 100%;
		overflow-y: scroll;
		max-height: 1000px;
		max-width: 750px;
    /* margin-top: 0rem; */

		/* remove scrollbar from party column*/
		scrollbar-width: none;
  }

  .Join-party-section::-webkit-scrollbar {
 			width: 0;
		 height: 0;	
	}

	.Join-party-grid {
    flex: 1;
    display: grid;
		justify-content: center;
		justify-items:center;
		align-items: center;
		box-sizing: border-box;
		height: fit-content;
		width: 100%;
		overflow-y:scroll;
  }

	.Join-party-title {
		text-align: center;
    color: var(--purple-700);
    font-family: "Chivo";
    font-weight: 700;
		font-size: 1.5rem;
	}
  
  .Join-party-avatar {
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
		justify-content:center;
		align-items:center;
		height:150px;
		width: 150px;
    text-align: center;
    margin-bottom: 1rem;
		font-size: 1.5rem;
  }
  
  .Join-party-avatar img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    background-color: white;
  }

	.Join-search-container {	
		border-style: solid;
		height: 100%;
		max-height: 1000px;
		width:50%;
		margin-left: 1rem;
	}
	
	.Join-section > .restaurant-wrapper {
		border-style: none;
		margin: 0 0 0 1rem;
    background-color: var(--foreground-color);
		box-shadow: none;
		height: 100%;
	}

	.Join-section > .restaurant-wrapper > .restaurant-section {
		margin: 0;
		display: flex;
		flex-direction: column;
		height: 100%;
		color: var(--purple-700);
    font-family: "Chivo";
	}

	.Join-section > .restaurant-wrapper > .restaurant-section > .group-search-results {
		overflow-y: scroll;
	}

	.voting-page > .display-wrapper {
		margin: 0;
		border-style: none;
    background-color: var(--foreground-color);
		box-shadow: none;
		max-width: 1200px;
		font-family: "Chivo";
		color: var(--purple-700);
	}



  	/* -------------------------- VOTE LAYOUT ---------------------------------- */
 	.Voting-restaurant-grid-container {
		display: flex;
		flex-direction: column;	
		align-items: center;
		height: 100%;
		width: 100%;
		margin-left: 1rem;
    background-color: var(--foreground-color);
    border-radius: 10px;
		overflow-y: scroll;
	} 
  .Voting-restaurant-grid {
    flex: 1;
    display: grid;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		overflow-y:scroll;
  }
  
  .Voting-restaurant-option {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 1rem;
		align-items: center;
    background: white;
    padding: 1rem;
    padding-top: 1.7rem;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
  }
  
  .Voting-restaurant-option.selected {
    border-color: var(--pill-border);
		border-style: solid;
  }
  
  .Voting-restaurant-option img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border: 2px solid #DDD8EF;
    border-radius: 100px;
  }
  
  .Voting-submit-button {
		height: 40px;
		width: 90%;
		margin-bottom: 1rem;
    background: var(--button-color);
    color: var(--button-text);
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
    font-family: "Chivo";
    letter-spacing: 1.5px;
    
  }
  
  .Voting-results-title {
    text-align: center;
    color: var(--purple-700);
    margin-top: 2rem;
    margin-bottom: 0rem;
    font-family: "Chivo";
    font-weight: 700;
  }
  
  .Voting-results-section {
		box-sizing: border-box;
    margin-top: 0.5rem;
		width: 100%;
		max-width: 1200px;
    background: var(--foreground-color);
    padding: 1rem;
    border-radius: 12px;
  }
  
  .result-row {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
  }
  
  .result-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 1rem;
    background: #ffffff;
  }
  
  .result-bar-container {
    flex: 1;
    background: #ffffff;
    border-radius: 8px;
    height: 12px;
    margin-right: 1rem;
    overflow: hidden;
  }
  
  .result-bar {
    background: #5b41a8;
    height: 100%;
    border-radius: 8px;
  }
  
  .vote-count {
    font-weight: bold;
    color: var(--purple-700);
  }

  .winner-popup {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    background-color: white;
    border: 2px solid #4CAF50;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    z-index: 1000;
  }
	/* -------------------------- WAIT LAYOUT ---------------------------------- */
  
  .Wait-voting-results-section {
		display: flex;
		flex-direction: column;
		margin-left: 1rem;
    background: var(--foreground-color);
    border-radius: 12px;
		align-items: center;
		overflow-y: scroll;
		min-height: 500px;
		width: 100%;
		/* remove scrollbar from party column*/
		scrollbar-width: none;
  }

  .party-column::-webkit-scrollbar {
 			width: 0;
		 height: 0;	
	}
  
	.Wait-voting-results-title {
    text-align: center;
    color: var(--text-color);
    font-family: "Chivo";
		font-size: 1.5rem;
    font-weight: 700;
  }

  .Wait-result-row {
    display: flex;
		align-items: center;
		flex-direction: row;
		margin: .5rem 2rem;
		width: 85%;
  }
  
  .Wait-result-icon {
    width: 5%;
    height: auto;
    border-radius: 50%;
    background: white;
  }
  
  .Wait-result-bar-container {
		display: flex;
		height: 15px;
		width:100%;
    background: white;
    border-radius: 8px;
    overflow: hidden;
		margin: 0rem 1rem;
  }
  
  .Wait-result-bar {
    background: #5b41a8;
    height: 100%;
    border-radius: 8px;
  }
  
  .Wait-vote-count {
    font-weight: bold;
    color: #3d2b6d;
  }
  
	/* -------------------------- END LAYOUT ----------------------------------- */
  
	.End-results-section {
		background: var(--foreground-color);
		display: flex;
		height: auto;
    /* margin-top: 0rem; */
		padding: 1rem;
    border-radius: 10px;
		font-weight: 700; 
		font-size: 1.5rem;
    color: var(--purple-700);
		width: 100%;
		margin-left: 1rem;
    /*max-height: 409.28px;*/
    align-items: center;
		justify-content: center;
		text-align: center;
	}
	.End-results-icon {
		margin-bottom: .5rem;	
		height: 150px;
		width: 150px;
		border-radius: 50%;
	}
