
:root {
	--purple-700:#3c2b7f;
  --purple-600:#6a41c1;
  --purple-500:#6d4dc3;

  --ink:#1f2937;
  --surface: rgb(251, 250, 255);
  --border:#65558F;
}

[data-theme='light'] {
	--sidebar-background: white;
	--sidebar-nav: #6a41c1;
	--sidebar-text: #3a2b77;
	--sidebar-text-active: white;
	--sidebar-text-hover: rgb(153, 128, 235);

	--profile-nav-text: #7a5ea3;
	--profile-nav-text-active: #342156;
	--profile-nav-border: #5a3798;
	--profile-nav-border-active: #9683b9;
	--profile-button: #ABA0D6;
	--profile-button-border: #9a94a4;

	--radial-gradient-0: #ffe9fb;
	--radial-gradient-1: #e1eefc;
	--radial-gradient-2: rgb(251, 250, 255);

	--background-color: rgb(251, 250, 255);
	--foreground-color: #D0C9EB;
	--foreground-border: #3d2074;
	--alt-foreground: #ABA0D6;

	--text-color: #190352; 
	--text-light: #57437f;
	--text-monochrome: black;
	--text-monochrome-light: #242424;
	--text-hint: #777;
	--text-hint-colored: #65558F;

	--pill-color: rgb(251, 250, 255);
	--pill-hover: #ebe4fd;
	--pill-border: #65558F;

	
	--accent-color: #6d4dc3;
	--link-color: #6d4dc3;
	--link-hover: #473281;

	--button-color:#6d4dc3;
	--button-text: white;

	--input-background: white; 
	--search-border: #65558F;

}

[data-theme='dark'] {
	--sidebar-background: white;
	--sidebar-nav: #6a41c1;
	--sidebar-text: #3a2b77;
	--sidebar-text-active: white;
	--sidebar-text-hover: rgb(153, 128, 235);

	--profile-nav-text: #7a5ea3;
	--profile-nav-text-active: #342156;
	--profile-nav-border: #5a3798;
	--profile-nav-border-active: #9683b9;
	--profile-button: #ABA0D6;
	--profile-button-border: #9a94a4;

	--radial-gradient-0: #ffe9fb;
	--radial-gradient-1: #e1eefc;
	--radial-gradient-2: rgb(251, 250, 255);

	--background-color: rgb(251, 250, 255);
	--foreground-color: #D0C9EB;
	--foreground-border: #3d2074;
	--alt-foreground: #ABA0D6;

	--text-color: #190352; 
	--text-light: #57437f;
	--text-monochrome: black;
	--text-monochrome-light: #242424;
	--text-hint: #777;
	--text-hint-colored: #65558F;

	--pill-color: rgb(251, 250, 255);
	--pill-hover: #ebe4fd;
	--pill-border: #65558F;

	
	--accent-color: #6d4dc3;
	--link-color: #6d4dc3;
	--link-hover: #473281;

	--button-color:#6d4dc3;
	--button-text: white;

	--input-background: white; 
	--search-border: #65558F;

  --purple-700:#3c2b7f;
  --purple-600:#6a41c1;
  --purple-500:#6d4dc3;

  --ink:#1f2937;
  --surface: rgb(251, 250, 255);
  --border:#65558F;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
